
body {
	margin:0;
	padding:0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

h1 {
	margin:5px 0;
	margin-left:10px;
	font-size:10px;
	font-weight:normal;
}

.indent{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	display:block;
}

#closedArea{
	width:100%;
	height:auto;
}

#closed{
	background:url(http://image.rakuten.co.jp/beautygarden-shop/cabinet/imgrc0067228432.jpg) no-repeat 0 0;
	background-size:100%;
	width:640px;
	height:526px;
	margin:10px auto 0 auto;
	padding:0px;
}

a:hover{
	opacity: 0.6;
}

a:hover img{
	opacity: 0.8;
}

a:hover p{
	opacity: 0.6;
}

#sliderImg{
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
}

#slick{
	padding:0;
}

#slider img {
	height: auto;
	width: 100%;
}

.slick-next,
.slick-prev {
	z-index: 100;
}

.slick-next {
	right: 20px;
}

.slick-prev {
	left: 15px;
}

/*-------- ƒwƒbƒ_[@--------*/

header{
	width:100%;
	height:auto;
	margin:0;
	background:#ccc;
}

header #headArea {
	width:100%;
	margin:0;
	padding:5px 0;
	color:#444;
	background: #f4f4f4;
	box-shadow:5px 0px -4px #444;
}

header #headAreaSpeace{
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
	font-size:15px;
}
header #headAreaSpeace p{
	margin:0;
	padding: 0;
}

header #headAreaSpeace .left{
	float:left;
}

header #headAreaSpeace .right{
	float:right;
}

header #headAreaSpeace .right ul{
	margin:0;
	padding:5px 0;
}

header #headAreaSpeace .right li{
	float:left;
	margin:0;
	pagging:0;
	top:0;
}

span .br_head{
	vertical-align: middle;
}

header #navArea{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:0px;
	background: #f7f7f7;
	box-shadow:0px 1px 2px #444;
}

/*-------------------------------*/

.menu {
    position: relative;
    width: 100%;
    height:69px;
    max-width: 1200px;
    display:table;
    margin:0 auto;
    padding:0;
   list-style-type:none;
}

.menu img{
	width:201px;
	height:69px;
	display:block;
}

.menu > li {
    float: left;
    width: 200px;
    height:auto;
    line-height: 50px;
}

.menu > li a {
    display: block;
}

ul.menu_category {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

ul.menu_brand {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
}

/* floatƒNƒŠƒA */
.menu:before,
.menu:after {
    content: " ";
    display: table;
}

.menu:after {
    clear: both;
}

.menu {
    *zoom: 1;
}

/*-------------------------------*/

li.menu__mega ul.menu_category {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background:#f3f8f8;
    list-style-type:none;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

li.menu__mega:hover ul.menu_category {
    top: 69px;
    visibility: visible;
    opacity: 1;
    padding:10px 20px 0 25px;
}

li.menu__mega ul.menu_category li{
	padding:0 0px 0px 38px;
	margin:5px 0px;
	text-indent:1px;
	font-size:20px;
	border:1px solid #444; 
}

li.menu__mega ul.menu_category > li {
    float: left;
    width: 13%;
    border:none; 
}

li.menu__mega ul.menu_category > li:nth-child(9n+10) {
    margin:0;
    
}

/*-------------------------------*/

li.menu__mega ul.menu_brand {
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    background:#f3f8f8;
    list-style-type:none;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
}

li.menu__mega:hover ul.menu_brand {
    top: 69px;
    visibility: visible;
    opacity: 1;
    padding:10px;
}

li.menu__mega ul.menu_brand li{
	margin:5px 5px;
	padding:10px 10px 0 10px;
	text-indent:1px;
	font-size:10px;
	font-weight:bold;
}

li.menu__mega ul.menu_brand > li {
    float: left;
    width: 22%;
    border: none;
}

li.menu__mega ul.menu_brand > li:nth-child(4n+3) {
    margin:0 1%;
}

/*-------------------------------*/

header a{
	text-decoration:none;
	color:#000;
	font-size:12px;
}

header span{
	padding:0;
}

header span img{
	width:20px;
	margin:0 5px;

}

.br_head{
	padding-right:5px;
	border-right:1px solid #444;
}

/*---------------------------*/

#rankingArea{
	width:100%;
	height:350px;
	margin:0;
	padding:0;
	background:url(../img/bg/bg_ranking.jpg);
	background-repeat:no-repeat;
	background-position:top bottom;
}

#rankingArea h2{
	width:100%;
	margin:0;
	padding:20px 0 0px 20px;
}

#rankingArea h2 img{
	width:95px;
	margin:0;
	padding:0;
}

.rankingCnt{
	width:1200px;
	margin:0 auto;
	padding:0;
}

#rankingArea ul{
	list-style-type:none;
}

#rankingArea li{
	padding-right:35px;
	float:left;
}

#rankingArea li img{
	width:100%;
}

/*---------------------------*/

#pickupArea{
	width:100%;
	height:auto;
	margin:0;
	padding:0 0 20px 0;
	background:#f9f7f0;
}

.pickupCnt{
	width:1200px;
	margin:0 auto;
	padding:0;
}

#pickupArea h2{
	width:100%;
	margin:0;
	padding:0;
}

#pickupArea h2 img{
	width:552px;
	float:left;
}

.pickTitle{
	margin:0;
	padding:0;
	position:relative;
	top:-13px;
	left:10px;
}

.pickTitle p{
	float:right;
	padding-top:15px;
	padding-right:10px;
}

.pickTitle p img{
	width:172px;
	display:block;
}

.pickSectionArea{
	width:100%;
	margin:0;
	padding:0;
	display:table;
}

.pickSectionArea .left{
	width:20%;
	float:left;
	margin-bottom:25px;
}

.pickSectionArea .center{
	width:33%;
	float:left;
	color:#444;
	padding-right:5px;
	border-right:2px solid #dcd2b1;
}

.pickSectionArea .right{
	float:left;
	padding-left:40px;
}

.pickSectionArea .left p{
	margin:0;
}

.pickSectionArea .left img{
	width:100%;
	box-shadow: 0px 0px 10px #ccc;
}

.pickSectionArea .center h3{
	margin:0;
	padding-left:20px;
	line-height:30px;
	font-size:25px;
}

.centerTittle{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #444;
	margin:5px 0;
	margin-left:20px;
	font-weight:bold;
}
.centerText{
	margin:0px;
	margin-left:30px;
	line-height:20px;
	font-size:14px;
}

.centerKingaku{
	margin:0px;
	margin-right:40px;
	float:right;
	font-weight:bold;
}

.centerKingaku span{
	color:#9a0000;
	font-size:50px;
	font-family: 'Open Sans', sans-serif;
}

.rightTittle{
	padding: .25em 0 .25em .75em;
	border-left: 6px solid #444;
	margin:5px 0;
	text-align:left;
	font-weight:bold;
}

.right ul{
	list-style-type:none;
}

.osusume01,.osusume03,.osusume02,.osusume04{
	color:#fff;
	margin:15px 0;
	padding:8px 10px;
	font-family:'SimHei';
	font-weight:bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow:0px 3px 0px #73abb0;
}

.osusume01,.osusume03{
	background:#8dc8cd;
}

.osusume02,.osusume04{
	background:#a3d4d8;
}

.mr_01{
	margin-left:80px;
}

.mr_02{
	margin-left:-30px;
}
.mr_03{
	margin-left:50px;
}
.mr_04{
	margin-left:20px;
}

/*---------------------------*/

#box {
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:0;
}

/*---------------------------*/

article {
	width:950px;
	height:auto;
	float:right;
}

article a{
	text-decoration:none;
	color:#000;
}

/*---------------------------*/

article #new{
	width:850px;
	margin:0px auto;
	margin-top:15px;
}

#new h3{
	margin:0;
	padding:0 0 5px 0;
	top:0;
	background:#fff;
	border-bottom:2px solid #dcd2b1;
}

#new h3 img{
	width:102px;
	display:inline;
}

#newTittle {  
    width:100%;  
    margin-right:20px;  
    float:left;  
}

#newTittle #btnIchiran{
	position:relative;
}

#newTittle #btnIchiran a{
    position:absolute;  
    top:-40px;
    right:7px;
    font-size:12px;
    display:block;
}

article #new .newArea{
	width:100%;
	height:auto;
	margin-top:5px;
}

article #new .newArea p{
	margin:0;
	padding:5px 0;
}

article #new .newBox{
	width:18%;
	float:left;
	margin-left:10px;
	border:1px solid #dcd2b1;
}

article #new .newBox img{
	width:95%;
	margin:3px auto;
	border:1px solid #dcd2b1;
	display:block;
}

article #new .newBox .newText{
	height:55px;
	line-height:18px;
	font-size:12px;
	padding:0 5px;
	font-weight:bold;
}

.newKingaku{
	width:100%;
	background:#f9f7f0;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

.newKingaku span{
	color:#9a0000;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

/*---------------------------*/

#ninki{
	width:850px;
	margin:0px auto;
	margin-top:30px;
}

#ninkiTittle {
    position:relative;
}

#ninki h3 {
	margin-top:10px;
	margin-bottom:5px;
}

#ninkiTittle h3 img{
	width:114px;
	padding:0;
}

#ninkiTittle p{
	display:inline;
	float:right;
	margin-top:-26px;
}

/*---------------------------*/

.btn20{

	margin:0 1px;
	padding:10px 20px;
	background:#cbbfa2;
	color:#fff;
	font-weight:bold;
}

.btn40{
	margin:0 1px;
	padding:10px 45px;
	background:#e5decd;
	color:#fff;
	font-weight:bold;
}

/*---------------------------*/

div#popular{
        position:relative;
        z-index:1;
	background:#fff;
	margin-top:0px;
}

#popular20,#popular40{
	width:100%;
	height:auto;
	background:#fff;
	margin:0px auto;
}

/*---------------------------*/

#popular20{
	height:1000px;
	margin-bottom:10px;
	padding-top:10px;
	border-top:2px solid #cbbfa2;
	background:url(../img/bg/bg_20.png);
	background-repeat:no-repeat;
	background-position:0pt 20pt;
}

#popular20 .speace{
	height:auto;
	margin:0;
}

#popular20 .mr1{
	margin:0;
	margin-left:80px;
}

#popular20 .mr2{
	margin:0;
	margin-left:150px;
	line-height:25px;
	font-family:'SimHei';
	text-shadow:1px 1px 3px #fff;
}

#popular20 .mr2 span{
	color:#9a0000;
}

#popular20 .mr1 img{
	width:100%;
	postion:fixed;
	display:block;
}

/*---------------------------*/

#popular20 .left , #popular20 .right{
	width:45%;
	margin:0 auto;
	margin-top:10px;
	padding:0px 10px;
	float:left;
}

/*---------------------------*/

p.popular20Img{
	width:45%;
	float:left;
}

p.popular20Text {
	width:50%;
	float:left;
	padding-left:10px;
	line-height:20px;
	font-size:14px;
}

p.popular20Text font{
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
}

p.popular20Text font span{
	color:#9a0000;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

p.popular20Img img{
	width:100%;
	display:block;
	box-shadow: 0px 0px 10px #ccc;
}

p.popular20user{
	width:100%;
	margin:0;
}

/*---------------------------*/

#popular40{
	height:1000px;
	margin-bottom:10px;
	padding-top:10px;
	border-top:2px solid #cbbfa2;
	background:url(../img/bg/bg_40.png);
	background-repeat:no-repeat;
	background-position:0pt 20pt;
}

#popular40 .speace{
	height:auto;
	padding:5px;
}

#popular40 .mr1{
	margin:0;
	margin-left:10px;
	margin-bottom:30px;
}

#popular40 .mr2{
	margin:0;
	margin-left:20px;
	line-height:25px;
	font-family:'SimHei';
	text-shadow:1px 1px 3px #fff;
}

#popular40 .mr2 span{
	color:#9a0000;
}

#popular40 .mr1 img{
	width:674px;
	display:block;
}

/*---------------------------*/

#popular40 .left , #popular40 .right{
	width:45%;
	margin:0 auto;
	margin-top:10px;
	padding:0px 10px;
	float:left;
}

/*---------------------------*/

p.popular40Img{
	width:45%;
	float:left;
}

p.popular40Text {
	width:50%;
	float:left;
	padding-left:10px;
	line-height:20px;
	font-size:14px;
}

p.popular40Text font{
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
}

p.popular40Text font span{
	color:#9a0000;
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
}

p.popular40Img img{
	width:100%;
	display:block;
	box-shadow: 0px 0px 10px #ccc;
}

p.popular40user{
	width:100%;
	margin:0;
}

/*---------------------------*/

#cntBtn{
	width:100%;
	height:50px;
	padding:5px 0;
	text-align:center;
	border-bottom:1px solid #ccc;
}

#cntBtn .btn{
	margin:5px 0;
	padding:10px 100px;
	border:1px solid #000;

}

/*---------------------------*/

#other h3{
	width:162px;
	margin:0px auto;
	margin-top:25px;
}

#other h3 img{
	width:100%;
}

#other ul{
	list-style-type:none;
}

#other li{
	width:22%;
	margin-left:5px;
	float:left;
}

/*---------------------------*/

aside {
	width:250px;
	height:1000px;
	float:left;
}

iframe.iframSide{
	width:250px;
	height:1000px;
}

/*---------------------------*/

#aside {
	width:100%;
	margin:0;
	padding:0;
}

#asideH3 {
	margin:0 0 5px 0;
	padding:0;
	background:#fff;
}

#asideH3 img{
	width:114px;
	margin:0;
	padding:0;
}

/*---------------------------*/

#aside ul{
	height:auto;
	margin:0 auto;
	padding:5px 0px;
	background:#f3f8f8;
	line-height:2em;
	list-style-position:inside;
	list-style-type:none;
	overflow:hidden;}

#aside li{
	width:80%;
	height:auto;
	margin:0 auto;
	padding:0px 0px 5px 38px;
	text-indent:1px;
	border-bottom:1px solid #ccc;
}

#aside a{
	text-decoration:none;
	font-size:12px;
	color:#414141;
}

/*------ƒJƒeƒSƒŠ[‰æ‘œ------*/

.aside01{background:url(../img/icon/ico_cat_01.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside02{background:url(../img/icon/ico_cat_02.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside03{background:url(../img/icon/ico_cat_03.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside04{background:url(../img/icon/ico_cat_04.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside05{background:url(../img/icon/ico_cat_05.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside06{background:url(../img/icon/ico_cat_06.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside07{background:url(../img/icon/ico_cat_07.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside08{background:url(../img/icon/ico_cat_08.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside09{background:url(../img/icon/ico_cat_09.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside10{background:url(../img/icon/ico_cat_10.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside11{background:url(../img/icon/ico_cat_11.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside12{background:url(../img/icon/ico_cat_12.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside13{background:url(../img/icon/ico_cat_13.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside14{background:url(../img/icon/ico_cat_14.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside15{background:url(../img/icon/ico_cat_15.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside16{background:url(../img/icon/ico_cat_16.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside17{background:url(../img/icon/ico_cat_17.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside18{background:url(../img/icon/ico_cat_18.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside19{background:url(../img/icon/ico_cat_19.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside20{background:url(../img/icon/ico_cat_20.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside21{background:url(../img/icon/ico_cat_21.jpg);background-repeat:no-repeat;background-position:top bottom;}
.aside22{background:url(../img/icon/ico_cat_22.jpg);background-repeat:no-repeat;background-position:top bottom;}

/*---------------------------*/

footer {
	width:100%;
	height:auto;
	margin-top:60px;
}

/*---------------------------*/


footer #footernavArea{
	width:100%;
	height:auto;
	margin:0;
	padding:2px 0;
	background:url(../img/bg/bg_menu_under.jpg);
	background-posiiton-x:inherit;
	background-position:left top;
}

#footernavArea_2{
	width:100%;
	height:auto;
	margin:0;
	margin-bottom:50px;
	padding:2px 0;
	background:url(../img/bg/bg_menu_under.jpg);
	background-posiiton-x:inherit;
	background-position:left top;
}

#footernavArea ul{
	width:1200px;
	margin:0 auto;
	margin-top:8px;
	list-style-type:none;
}

#footernavArea_2 ul{
	margin:0 auto;
	margin-top:8px;
	list-style-type:none;
}

#footernavArea li, #footernavArea_2 li{
	float:left;
}

footer .navUl2{
	display:table;
	margin:auto;
}

footer .navUl2 li{
	display:table-cell;
}

footer .navUl2_02{
	width:100%;
	display:table;
	margin:auto;
}

footer .navUl2_02 li{
	display:table-cell;
}

footer .footerimg1{
	width:472px;
	border-right:1px solid #ccc;
	border-shadow:1px 0px 5px #fff;
}

footer .footerimg2{
	width:254px;
}

footer .footerimg1_2{
	width:350px;
	border-right:1px solid #ccc;
	border-shadow:1px 0px 5px #fff;
}

footer .footerimg2_2{
	width:200px;
}

/*---------------------------*/


footer #companyArea{
	width:1100px;
	height:auto;
	margin:20px auto;
	padding-bottom:20px;
	background:#f7f7f7;
	border:1px solid #c9cbcb;
	font-family:'SimHei';
}

footer #companyArea h3{
	margin-bottom:0;
	padding-bottom:5px;
	border-bottom:2px solid #c9cbcb;
}

footer #companyArea h4{
	margin-bottom:0;
	padding-left:5px;
}

footer #companyArea2{
	height:auto;
	margin:20px auto;
	background:#f7f7f7;
	border:1px solid #c9cbcb;
	font-family:'SimHei';
}

footer #companyArea2 h3{
	margin-bottom:0;
	padding-bottom:5px;
	border-bottom:2px solid #c9cbcb;
}

footer #companyArea2 h4{
	margin-bottom:0;
	padding-left:5px;
}

.about{
	width:25%;
	padding:0 10px;
	float:left;
}

.about2{
	width:28%;
	padding:0 10px;
	float:left;
}

.calendar{
	width:70%;
	padding:0 10px;
	float:left;
}

.calendar2{
	width:67%;
	padding:0 10px;
	float:left;
}

.about p,.about2 p{
	margin:0;
	margin-top:5px;
	padding:5px 0px 5px 5px;
	font-size:11px;
	line-height:20px;
}

.about a,.about2 a{
	text-decoration:none;
	color:#9a0000;
	font-weight:bold;
}

.about h3 img,.about2 h3 img{
	width:88px;
}

.calendar h3 img,.calendar2 h3 img{
	width:138px;
}

.calendar p{
	width:270px;
	margin-left:15px;
	float:left;
	font-size:12px;
	line-height:22px;
	font-family:'SimHei';
}

.calendar2 h3 img{
	width:138px;
}

.calendar2 p{
	width:27%;
	float:left;
	font-size:12px;
	line-height:17px;
	font-family:'SimHei';
}

/*---------------------------*/

table.calbase_rakuten     {
    float:left;
    border-collapse: collapse;
    padding: 0px 0px 10px 0px;
    }
table.calbase_rakuten *   {
    font-size: 98%;
    color: #666666;
    border-collapse: collapse;
    }
table.calbase_rakuten th  {
    text-align: center;
    }
th.caltitle_rakuten       {
    font-size: 85%;
    padding: 10px 0px 0px 0px;
    }

table.calframe_rakuten    {
    width:220px;
    border:2px solid #cfcfcf;
    background:#fff;
    background-size:100% auto;
    margin: 10px 10px 0px 10px;
    float:left;
    }

table.calframe_rakuten th {
    text-align: center;
    padding:5px 0px;
    }
table.calframe_rakuten td {
    border:1px solid #dcdcdc;
    width:19px;
    height:17px;
    text-align: center;
    font-size:12px;
    font-family:'SimHei';
    }
tr.weektitle_rakuten td   {
    background-color: #d1d1d1;
    }

td.event1day_rakuten      {
    background-color: #f7bfbe !important;
    }
td.event2day_rakuten      {
    background-color: #f7bfbe !important;
    }
td.event3day_rakuten      {
    background-color: #f7bfbe !important;
    }

/*---------------------------*/

#guideArea_2{
	width:100%;
	height:auto;
	padding-bottom:30px;
}

#guideArea_2 #guideTitle img{
	width:206px;
	padding-top:40px;
	margin-left:auto;
	margin-right:auto;
	top:10px;
	display:block;
}

/*---------------------------*/

#guideArea{
	width:100%;
	height:auto;
	padding-bottom:50px;
	background:#f8f8f8;
}

#guideArea #guideTitle img{
	width:206px;
	padding-top:40px;
	margin-left:auto;
	margin-right:auto;
	top:10px;
	display:block;
}

#guideAll{
	width:1000px;
	height:auto;
	margin:0 auto;
	padding-bottom:15px;
	background:#fff;
	border:1px solid #ccc;
}

#guidehead{
	width:95%;
	margin:0 auto;
	padding:0 10px 10px 10px;
	background:#f6f6f6;
	font-family:monospace;
}

#guidehead h4{
	text-align:center;
	padding-top:20px;
}

#guidehead p{
	padding:0 10px;
	font-size:14px;
	line-height:20px;
}

#guideCntArea{
	width:95%;
	height:auto;
	margin:0 auto;
	margin-top:25px;
	padding:0 10px 10px 10px;
	font-family:monospace;
}

#guideCnt01{
	width:32%;
	float:left;
	margin-left:5px;
}

#guideCnt02{
	width:32%;
	float:left;
	margin:0 12px;
}

#guideCnt03{
	width:32%;
	float:left;
	margin-right:5px;
}

#guideCntArea h4{
	margin:0;
	padding:5px 0;
	text-align:center;
	background:#ebf1f1;
}

.cntText{
	margin:0;
	padding:5px;
}

#guideCntArea p{
	font-size:12px;
	line-height:20px;
}

#guideCntArea span{
	font-size:12px;
	line-height:25px;
	font-weight:bold;
}

.guideLine{
	margin:0;
	border:1px solid #cfcfcf;
	padding:5px;
}

.guideUl{
	margin:0;
	margin-top:-10px;
	margin-left:-20px;
	margin-bottom:10px;
	line-height:20px;
}

.red{
	color:#9a0000;
}

.cntimg{
	width:265px;
	margin:5px auto;
	display:block;
}

.cntbtn{
	width:299px;
	margin:5px auto;
	display:block;
}

#guidefoot{
	width:95%;
	margin:0 auto;
	padding:10px;
	background:#f6f6f6;
	font-family:monospace;
	line-height:20px;
}

#guidefoot h3 {
	text-align:center;
}

#guidefoot .guidefoot_L,#guidefoot .guidefoot_R{
	width:47%;
	margin:0;
	padding:0px 10px;
	float:left;
	font-size:12px;
	color:#9ea0a0;
}

#guidefoot .guidefoot_L h4{
	margin:0;
	color:#9a0000;
	font-size:15px;
}

#guidefoot .guidefoot_R h4{
	margin:0;
	color:#58aa92;
	font-size:15px;
}

/*---------------------------*/

#flow{
	width:100%;
	height:auto;
	background:url(../img/bg/bg_flow.jpg);
	background-repeat:x-repeat;
	background-position:top bottom;
}

#flow2{
	width:100%;
	height:auto;
	background:#ebf1f1;
}

#flow2 img{
	width:95%;
	display:block;
	margin:0px auto;
	padding:10px 0;
}

#flow img{
	width:1032px;
	display:block;
	margin:0px auto;
	padding:20px 0;
}

/*---------------------------*/

#couponArea{
	width:100%;
	height:auto;
	margin:0;
	background:url(../img/bg/bg_coupon.jpg);
}

#couponArea2{
	width:100%;
	height:auto;
	margin:0;
	background:#ebf1f1;
}

#couponAll{
	width:1200px;
	height:auto;
	margin:0 auto;
	padding:10px 0;
}

#couponAll_2{
	width:100%;
	height:auto;
	margin:0 auto;
	padding:10px 0;
}


#couponArea .couponLogo{
	margin-right: 20px;
	float:left;
	padding-bottom:5px;
}

#couponArea2 .couponLogo2{
	width:33%;
	float:left;
	padding-bottom:5px;
}

#couponArea .couponMenu{
	float:left;
	padding-bottom:5px;
}

#couponArea2 .couponMenu_2{
	float:left;
	padding-bottom:5px;
}

.logoimg{
	width:217px;
	padding:45px 30px;
}

.logoimg2{
	width:140px;
	padding:50px 10px;
}
.imgCT{
	width:155px;
	padding:0px 0 0 30px;
}

.imgCT2{
	width:155px;
}

.couponMenu img,.couponMenu_2 img{
	width:217px
}

#copy{
	width:100%;
	background:#d5e4e5;
	color:#fff;
	text-align:center;
	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
}

#copy02{
	width:100%;
	background:#fff;
	color:#ddd;
	text-align:center;
	font-weight:bold;
	font-family:'Lucida Console';
}

#copy p ,#copy02 p{
	margin:0;
	padding:10px 0;
}

/*---------------------------*/

.clear{
	clear:both;
}

#clear{
	clear:both;
}

/*---------------------------*/
#rc_rightArea{
 position: fixed;
 top: 100px;
 right:0px; /*ƒ}ƒEƒX‚ðæ‚¹‚½Žž‚Éo‚Ä‚­‚é•*/
 }

 #rc_rightArea ul li{
 	list-style: none;
 }

#rc_rightArea ul li:nth-child(1) a{
 width: 56px; /*‰æ‘œ‚Ì‘S‘Ì•*/
 display: inline-block;
 z-index: 9999;
}

#rc_rightArea ul li:nth-child(2) a{
 width: 56px; /*‰æ‘œ‚Ì‘S‘Ì•*/
 display: inline-block;
 z-index: 9999;
}

#rc_rightArea ul li a:hover{
 right: 0px;
}

.specialInner{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.specialInner img{
	text-align: center;
}

a.mb20{
	margin-bottom: 30px;
	display: block;
}


.coupon_header a{
	width: 97.34%;
	height:auto;
	padding-top: 21.99%;
	background: url(../img/common/btn_couponHeader.png) no-repeat 0 center; background-size:100%;
	display: block;
	margin: 0 auto;
}

/*30%OFF追加1110---------------------------*/
.flowting{
	background-color: #bf0000;
	padding: 5px 0;
	width: 100%;
}

.flowting p{
	width: 1172px;
	margin: 0 auto;
}






